<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce WebSite</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles2.css" />
</head>
<header>

    <div class="headerStyle">
        <h1>OSF Digital E-commerce Project <a href="/?category=mens">Mens</a> <a href="/?category=womens">womens</a> </h1>
    </div>

    <a href="/">Home</a> /
    <a href="">Subcategory Name</a>
    <br>
    <br>
</header>

<body>