<div>
    <form class="navbar" action="">
        <input type="text" placeholder="Search for products" name="search">
        <button type="submit"><i class="btn-search"></i></button>
    </form>
    <% if (condition) { %>
     
    <% } %>
</div>