<div class="navbar">
    <ul>
        <% if (typeof user == 'undefined') { %>
        <li><a href="/auth/signin">Sign In</a></li>
        <li><a href="/auth/signup">Sign Up</a></li>
        <% } else { %>
        <li><a><%- user.email %></a></li>
        <li><a href="/cart">Cart</a></li>
        <li><a href="/wishlist">Wishlist</a></li>
        <li><a href="/orders">Orders</a></li>
        <li><a href="/auth/signout">Log out</a></li>
        <% } %>
    </ul>
</div>