<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce WebSite</title>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/style2.css"  />
</head>
<%- include('./partials/header')-%>
<body>
    <h1>TITLE</h1>
</body>
<%- include('./partials/footer')-%>
</html>